body{
    font-family: 'Roboto', "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 1440px;
}

h1, h2, h3, p{
    color: #2E2F42;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

ul{
    list-style: none;
}

.logo-link{
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    color: #4D5AE5;
    text-transform: uppercase;
}

.logo-link:hover{
    font-size: 20px;
}

.header-logo{
    color: #2E2F42;
}

.header-nav-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.header-nav-item:hover{
    font-weight: 700;
}

.address{
    color: #434455;
    font-size: 16px;
    line-height: 24px;
}

.address-mail:hover{
    font-weight: 700;
    color: black;
}

.address-phone:hover{
    font-weight: 700;
    color: black;
}

.hero{
    background-color: #2E2F42;
    height: 600px;
}

.hero-title{
    font-size: 56px;
    width: 496px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: white;
}

.hero-button{
    background-color: #4D5AE5;
    color: white;
    width: 169px;
    height: 56px;
    border-radius: 4px;
}

.feature{
    width: 1128px;
    line-height: 24px; 
    color: #2E2F42;
}

.li-feature{
    width: 264px;
}

.feature-title{
    font-weight: 500; 
    font-size: 20px; 
}

.feature-title:hover{
    color: black;
    font-weight: 700;
}

.feature-text{
    font-size: 16px; 
}

.feature-text:hover{
    color: black;
    font-weight: 700;
}

.our-team{
    background-color: #F4F4FD;
}

.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.our-team-li{
    width: 264px;
    text-align: center;
}

.our-team-name{
    font-weight: 500;
    font-size: 20px; 
    line-height: 24px; 
    text-align: center;
}

.our-team-proff{
    font-size: 16px;
    line-height: 24px; 
}

.portfolio{
    width: 1128px;
}

.portfolio-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.portfolio-li{
    width: 360px;
}

.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    color: #2E2F42;
}

.portfolio-text{
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

.footer{
    height: 312px;
    background-color: #2E2F42;
}

.footer-logo{
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    width: 264px;
    font-size: 16px; 
    line-height: 24px;
}